/* Change the background colour of the body */
body {
    background-color: #fceff1;
    font-family: Comic Sans MS;
    color: #a3a2a2;

}

/* Change the menu bar background color */
nav.navbar {
    background-color: #f6c7cf; /* Replace with your desired color */
}

/* Change the text color in the menu bar */
nav.navbar a {
    color: white; /* Replace with your desired text color */
}

/* Change the color of hovered menu items */
nav.navbar a:hover {
    color#fcebf4; /* Replace with your desired hover color */
}