/* Change the background colour of the body */
body {
    background-color: #e0d4cc;
    font-family: Avenir;
    color: #0d0d0c;
}

/* Change the menu bar background color */
nav.navbar {
    background-color: #696e66; 
}

/* Change the text color in the menu bar */
nav.navbar a {
    color: #696e66; /* Replace with your desired text color */
}

/* Change the color of hovered menu items */
nav.navbar a:hover {
    color#fcebf4; /* Replace with your desired hover color */
}