/* Change the background colour of the body */
body {
    background-color: #fceff1;
    font-family: Comic Sans MS;
    color: #a3a2a2;
    
}

/* Customise headings */
h1 {
    color: #696266;

}

/* Change link colours */
a {
    color: #0056b3;
}